/build/
/out/
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-ddd38ea4f182c48aa54e.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-3da1423f171cfae8bf47.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-3e9b5ca9690e3d0cad0f.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/cmake-build-debug/.cmake/api/v1/reply/directory-src.lodepng-Debug-83a16d958f8bcbc652ee.json
/cmake-build-debug/.cmake/api/v1/reply/directory-src.rayimage-Debug-47f82430889bd663ff31.json
/cmake-build-debug/.cmake/api/v1/reply/directory-src.raymath-Debug-d1b04ee920c5a9bcce0a.json
/cmake-build-debug/.cmake/api/v1/reply/directory-src.rayscene-Debug-b6cfdc598a08141194ec.json
/cmake-build-debug/.cmake/api/v1/reply/index-2024-11-26T12-51-27-0074.json
/cmake-build-debug/.cmake/api/v1/reply/target-lodepng-Debug-49504d62b58a659de53f.json
/cmake-build-debug/.cmake/api/v1/reply/target-rayimage-Debug-d404016c9c8c31941752.json
/cmake-build-debug/.cmake/api/v1/reply/target-raymath-Debug-e36d4cd065a8f53d8304.json
/cmake-build-debug/.cmake/api/v1/reply/target-rayscene-Debug-b301b4f03bf323bb39b5.json
/cmake-build-debug/.cmake/api/v1/reply/target-raytracer-Debug-1d054ea6b33d28253baf.json
/cmake-build-debug/.cmake/api/v1/reply/target-test_runner-Debug-2c0832bf7cb9c8de01a2.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-6b9824543f81a3a90126.json
/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdC/CMakeCCompilerId.o
/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdCXX/CMakeCXXCompilerId.o
/cmake-build-debug/CMakeFiles/3.30.5/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.30.5/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/3.30.5/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/raytracer.dir/main.cpp.o
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/src/lodepng/CMakeFiles/lodepng.dir/lodepng.cpp.o
/cmake-build-debug/src/lodepng/cmake_install.cmake
/cmake-build-debug/src/lodepng/liblodepng.a
/cmake-build-debug/src/rayimage/CMakeFiles/rayimage.dir/Image.cpp.o
/cmake-build-debug/src/rayimage/cmake_install.cmake
/cmake-build-debug/src/rayimage/librayimage.a
/cmake-build-debug/src/raymath/CMakeFiles/raymath.dir/AABB.cpp.o
/cmake-build-debug/src/raymath/CMakeFiles/raymath.dir/Color.cpp.o
/cmake-build-debug/src/raymath/CMakeFiles/raymath.dir/Matrix.cpp.o
/cmake-build-debug/src/raymath/CMakeFiles/raymath.dir/Ray.cpp.o
/cmake-build-debug/src/raymath/CMakeFiles/raymath.dir/Transform.cpp.o
/cmake-build-debug/src/raymath/CMakeFiles/raymath.dir/Vector3.cpp.o
/cmake-build-debug/src/raymath/cmake_install.cmake
/cmake-build-debug/src/raymath/libraymath.a
/cmake-build-debug/src/rayscene/CMakeFiles/rayscene.dir/Camera.cpp.o
/cmake-build-debug/src/rayscene/CMakeFiles/rayscene.dir/CheckerMaterial.cpp.o
/cmake-build-debug/src/rayscene/CMakeFiles/rayscene.dir/Intersection.cpp.o
/cmake-build-debug/src/rayscene/CMakeFiles/rayscene.dir/Light.cpp.o
/cmake-build-debug/src/rayscene/CMakeFiles/rayscene.dir/Material.cpp.o
/cmake-build-debug/src/rayscene/CMakeFiles/rayscene.dir/Mesh.cpp.o
/cmake-build-debug/src/rayscene/CMakeFiles/rayscene.dir/PhongMaterial.cpp.o
/cmake-build-debug/src/rayscene/CMakeFiles/rayscene.dir/Plane.cpp.o
/cmake-build-debug/src/rayscene/CMakeFiles/rayscene.dir/Scene.cpp.o
/cmake-build-debug/src/rayscene/CMakeFiles/rayscene.dir/SceneLoader.cpp.o
/cmake-build-debug/src/rayscene/CMakeFiles/rayscene.dir/SceneObject.cpp.o
/cmake-build-debug/src/rayscene/CMakeFiles/rayscene.dir/Sphere.cpp.o
/cmake-build-debug/src/rayscene/CMakeFiles/rayscene.dir/Triangle.cpp.o
/cmake-build-debug/src/rayscene/cmake_install.cmake
/cmake-build-debug/src/rayscene/librayscene.a
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/build.ninja
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CTestTestfile.cmake
/cmake-build-debug/raytracer
/CMakeFiles/3.30.5/CompilerIdC/CMakeCCompilerId.c
/CMakeFiles/3.30.5/CompilerIdC/CMakeCCompilerId.o
/CMakeFiles/3.30.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
/CMakeFiles/3.30.5/CompilerIdCXX/CMakeCXXCompilerId.o
/CMakeFiles/3.30.5/CMakeCCompiler.cmake
/CMakeFiles/3.30.5/CMakeCXXCompiler.cmake
/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_C.bin
/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_CXX.bin
/CMakeFiles/3.30.5/CMakeSystem.cmake
/CMakeFiles/raytracer.dir/build.make
/CMakeFiles/raytracer.dir/cmake_clean.cmake
/CMakeFiles/raytracer.dir/compiler_depend.make
/CMakeFiles/raytracer.dir/compiler_depend.ts
/CMakeFiles/raytracer.dir/depend.make
/CMakeFiles/raytracer.dir/DependInfo.cmake
/CMakeFiles/raytracer.dir/flags.make
/CMakeFiles/raytracer.dir/link.txt
/CMakeFiles/raytracer.dir/progress.make
/CMakeFiles/cmake.check_cache
/CMakeFiles/CMakeConfigureLog.yaml
/CMakeFiles/Makefile2
/CMakeFiles/progress.marks
/CMakeFiles/TargetDirectories.txt
/src/lodepng/CMakeFiles/lodepng.dir/build.make
/src/lodepng/CMakeFiles/lodepng.dir/cmake_clean.cmake
/src/lodepng/CMakeFiles/lodepng.dir/cmake_clean_target.cmake
/src/lodepng/CMakeFiles/lodepng.dir/compiler_depend.make
/src/lodepng/CMakeFiles/lodepng.dir/compiler_depend.ts
/src/lodepng/CMakeFiles/lodepng.dir/depend.make
/src/lodepng/CMakeFiles/lodepng.dir/DependInfo.cmake
/src/lodepng/CMakeFiles/lodepng.dir/flags.make
/src/lodepng/CMakeFiles/lodepng.dir/link.txt
/src/lodepng/CMakeFiles/lodepng.dir/progress.make
/src/lodepng/CMakeFiles/CMakeDirectoryInformation.cmake
/src/lodepng/CMakeFiles/progress.marks
/src/rayimage/CMakeFiles/rayimage.dir/build.make
/src/rayimage/CMakeFiles/rayimage.dir/cmake_clean.cmake
/src/rayimage/CMakeFiles/rayimage.dir/cmake_clean_target.cmake
/src/rayimage/CMakeFiles/rayimage.dir/compiler_depend.make
/src/rayimage/CMakeFiles/rayimage.dir/compiler_depend.ts
/src/rayimage/CMakeFiles/rayimage.dir/depend.make
/src/rayimage/CMakeFiles/rayimage.dir/DependInfo.cmake
/src/rayimage/CMakeFiles/rayimage.dir/flags.make
/src/rayimage/CMakeFiles/rayimage.dir/link.txt
/src/rayimage/CMakeFiles/rayimage.dir/progress.make
/src/rayimage/CMakeFiles/CMakeDirectoryInformation.cmake
/src/rayimage/CMakeFiles/progress.marks
/src/raymath/CMakeFiles/raymath.dir/build.make
/src/raymath/CMakeFiles/raymath.dir/cmake_clean.cmake
/src/raymath/CMakeFiles/raymath.dir/cmake_clean_target.cmake
/src/raymath/CMakeFiles/raymath.dir/compiler_depend.make
/src/raymath/CMakeFiles/raymath.dir/compiler_depend.ts
/src/raymath/CMakeFiles/raymath.dir/depend.make
/src/raymath/CMakeFiles/raymath.dir/DependInfo.cmake
/src/raymath/CMakeFiles/raymath.dir/flags.make
/src/raymath/CMakeFiles/raymath.dir/link.txt
/src/raymath/CMakeFiles/raymath.dir/progress.make
/src/raymath/CMakeFiles/CMakeDirectoryInformation.cmake
/src/raymath/CMakeFiles/progress.marks
/src/rayscene/CMakeFiles/rayscene.dir/build.make
/src/rayscene/CMakeFiles/rayscene.dir/cmake_clean.cmake
/src/rayscene/CMakeFiles/rayscene.dir/cmake_clean_target.cmake
/src/rayscene/CMakeFiles/rayscene.dir/compiler_depend.make
/src/rayscene/CMakeFiles/rayscene.dir/compiler_depend.ts
/src/rayscene/CMakeFiles/rayscene.dir/depend.make
/src/rayscene/CMakeFiles/rayscene.dir/DependInfo.cmake
/src/rayscene/CMakeFiles/rayscene.dir/flags.make
/src/rayscene/CMakeFiles/rayscene.dir/link.txt
/src/rayscene/CMakeFiles/rayscene.dir/progress.make
/src/rayscene/CMakeFiles/CMakeDirectoryInformation.cmake
/src/rayscene/CMakeFiles/progress.marks
